button.knopka {
	color: #fff; 
	background: #FFA500; 
	padding: 5px; 
	border-radius: 5px;
	border: 2px solid #FF8247;
} 
button.knopka:hover { 
	background: #FF6347; 
}

#input {
	color: #fff; 
	background: #FFA500; 
	padding: 5px; 
	border-radius: 5px;
	border: 2px solid #FF8247;
} 
#input:hover { 
	background: #FF6347; 
}